<header class="sticky-header">
  <!-- Top Bar with Social Media Icons -->
  <div class="top-bar bg-dark text-white py-2">
    <div class="container d-flex justify-content-between">
      <div class="social-icons">
        <a href="https://facebook.com" target="_blank" class="text-white me-3">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://twitter.com" target="_blank" class="text-white me-3">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://instagram.com/FARMDREAMRIVER" target="_blank" class="text-white me-3">
          <i class="fa fa-instagram"></i>
        </a>
      </div>
      <div>
        <span>Contact:- <a href="tel:+918149970027" class="text-white me-3">+918149970027</a>,
          <a href="tel:+918446980027" class="text-white me-3">+918446980027</a></span>
      </div>
    </div>
  </div>

  <!-- Main Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="assets/images/logoimg.jfif" width="29" alt="Logo"> Dream River</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleMobileMenu()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#AboutUs">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contactUs">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Mobile Menu -->
  <div class="mobile-menu" [ngClass]="{'show': isMobileMenuOpen}">
    <ul class="mobile-nav">
      <li><a class="nav-link" href="#" (click)="closeMenu()">Home</a></li>
      <li><a class="nav-link" href="#AboutUs" (click)="closeMenu()">About Us</a></li>
      <li><a class="nav-link" href="#contactUs" (click)="closeMenu()">Contact</a></li>
    </ul>
  </div>
</header>
