<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-12 mb-4">
        <h5>Contact Us</h5>
        <p>
          Mobile:
          <a href="tel:+918149970027" class="text-white me-3">+91 8149970027</a>,
          <a href="tel:+918446980027" class="text-white me-3">8446980027</a>
        </p>

        <p>Email: <a href="mailto:dreamriverf@gmail.com" class="text-white me-3">dreamriverf&#64;gmail.com</a></p>

        <p> Address: Vanjarwadi Tal- Karjat, Dist-Raigad, Bhaliwadi, Maharashtra 410201</p>
      </div>
      <div class="col-md-4 col-sm-12 mb-4 text-center text-md-left">
        <h5>Follow Us</h5>
        <div class="social-icons">
          <a href="https://facebook.com" target="_blank" class="me-3">
            <i class="fa fa-facebook"></i>
          </a>
          <a href="https://twitter.com" target="_blank" class="me-3">
            <i class="fa fa-twitter"></i>
          </a>
          <a href="https://instagram.com/FARMDREAMRIVER" target="_blank" class="me-3">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
      </div>
      <!-- <div class="col-md-4 col-sm-12 mb-4">
        <h5>Subscribe to our Newsletter</h5>
        <form>
          <div class="mb-3">
            <input type="email" class="form-control" placeholder="Enter your email" required>
          </div>
          <button type="submit" class="btn btn-primary">Subscribe</button>
        </form>
      </div> -->
    </div>
    <div class="text-center mt-4">
      <p>&copy; 2024 DreamRiver. All rights reserved.</p>
    </div>
  </div>
</footer>
