<div class="video-section">
  <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/images/img1.jfif" alt="Farmhouse View" class="d-block w-100" />
      </div>
      <div class="carousel-item">
        <img src="/assets/images/img9.jfif" alt="Farmhouse View" class="d-block w-100" />
      </div>
      <div class="carousel-item">
        <img src="/assets/images/img5.jfif" alt="Farmhouse View" class="d-block w-100" />
      </div>
      <div class="carousel-item">
        <img src="/assets/images/img2.jfif" alt="Farmhouse View" class="d-block w-100" />
      </div>
      <div class="carousel-item">
        <img src="/assets/images/img4.jfif" alt="Farmhouse View" class="d-block w-100" />
      </div>
    </div>
    <div class="overlay-text">
      <h1>Welcome to Dream River</h1>
    </div>
  </div>
</div>

